.App {
  text-align: center;
  background-color: rgb(219, 221, 223);
}

.App-header {
  background-color: rgb(94, 115, 160);
  height: 70px;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
  box-shadow: 6px black;
}

.App-title {
  font-size: 42px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
